<div class="row-fluid">
	<img data-bind="attr: {src: settings.settings.plugins.badprint.stream}">
</div>
<div class="row-fluid">
	<div id="badprint_button" class="jog-panel">
		<button class="btn span4" id="job_cancel" data-bind="click: cancel" title="Cancels the print job">
			<i class="fa fa-stop"></i> Cancel
		</button>
	</div>
</div>